# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/

# Media and Static
/static/
/media/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


secrets*
*settings.py
admin.py
