@import "tailwindcss";

@theme {
  --color-brand-50: #e9f7ee;
  --color-brand-100: #c9e9d4;
  --color-brand-200: #9bd6ae;
  --color-brand-300: #63bd80;
  --color-brand-400: #37a15c;
  --color-brand-500: #1f8642;
  --color-brand-600: #166b34;
  --color-brand-700: #0e3c19;
  --color-brand-800: #0b3014;
  --color-brand-900: #07240e;
  --color-brand-950: #051a0a;

  --color-gold-50: #ffffe7;
  --color-gold-100: #fdf1c2;
  --color-gold-200: #fae38a;
  --color-gold-300: #ffd45f;
  --color-gold-400: #f2b93b;
  --color-gold-500: #d99c15;
  --color-gold-600: #b9840e;
  --color-gold-700: #8a620c;
  --color-gold-800: #5f440d;
  --color-gold-900: #392608;

  --color-surface-50: #ffffff;
  --color-surface-100: #fbfbfb;
  --color-surface-200: #f1f3f6;
  --color-surface-300: #e3e5eb;
  --color-surface-400: #cdcfd5;
  --color-surface-500: #aeb2c2;
  --color-surface-600: #8a92a5;
  --color-surface-700: #5b6478;
  --color-surface-800: #3a4256;
  --color-surface-900: #212327;
  --color-surface-925: #181a1e;
  --color-surface-950: #0e0f12;
}

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";