@import "tailwindcss";

@theme {
  --color-brand-50: #eef2ff;
  --color-brand-100: #e0e7ff;
  --color-brand-200: #c7d2fe;
  --color-brand-300: #a6b4fb;
  --color-brand-400: #92a0fa;
  --color-brand-500: #7986f6;
  --color-brand-600: #6a74f0;
  --color-brand-700: #515ce6;
  --color-brand-800: #4049c4;
  --color-brand-900: #333a9c;
  --color-brand-950: #171c54;

  --color-surface-50: #fbfcfe;
  --color-surface-100: #f1f4f9;
  --color-surface-200: #e2e7f0;
  --color-surface-300: #cfd6e3;
  --color-surface-400: #9aa5ba;
  --color-surface-500: #66728c;
  --color-surface-600: #4a5468;
  --color-surface-700: #343d50;
  --color-surface-800: #1d2636;
  --color-surface-850: #151d2b;
  --color-surface-900: #101623;
  --color-surface-925: #0b111c;
  --color-surface-950: #080c16;
}

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";